{% from "macros/forms.html" import render_field %}
{% extends "base_templates/base.html" %}
  {% block main %}
    <form method="POST" action="{{url_for('contact')}}">
      <div>
        {{ form.hidden_tag() }}
        {{ render_field(form.name) }}
        {{ render_field(form.email) }}
        {{ render_field(form.subject) }}
        {{ render_field(form.message) }}
      </div>
      <div class="form-group" style="padding-top:10px">
         <div class="col-sm-offset-2 col-sm-10">
          {{ form.submit(class="btn btn-primary") }}
        </div>
      </div>
  </form>
{% endblock %}