{% extends "base_templates/base.html" %}

{% block main %}
<div class="row">
  <div class="col-sm-6 col-xs-12">
    <img class="profile" src="{{ url_for('static', filename='img/profile.jpg') }}"/>
  </div>
  <div class="col-sm-6 col-xs-12">
    <h4>Hi! I'm Nick Kortendick!</h1>
      <p>
        I'm studying <a href="https://cs.illinois.edu" target="_blank">Computer Science</a> and <a href="http://techmgmt.illinois.edu" target="_blank">Technology and Management</a> at the University of Illinois. You might know me from <a href="https://www.hackillinois.org" target="_blank">HackIllinois</a>, which I ran in 2015, or <a href="https://www.wealthfront.com" target="_blank">Wealthfront</a> where I interned in Summer 2015. I was at <a href="https://www.menards.com" target="_blank">Menards</a> the summer before that, and I'll be at <a href="https://www.google.com/careers" target="_blank">Google</a> during this summer. I'm now helping to run Illini Hackers, and I work part time at the <a href="https://business.illinois.edu/mil" target="_blank">Market Information Lab</a>
      </p>
  </div>
</div>

{% endblock %}
