{% from "admin/macros/menu.html" import menu %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="name">
        <div class="title"><a href="{{url_for('admin.index')}}">{{ admin_view.admin.name }}</a></div>
        <div class="subtitle"><a href="{{url_for('index')}}">Nick Kortendick</a></div>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {{ menu(admin_view) }}
      </ul>
      <ul class="nav navbar navbar-nav navbar-right">
        <li><a href="#">Hello, {{ current_user.first_name }}!</a></li>
      </ul>
    </div>
  </div>
</nav>